@model IEnumerable<FamilyFun.Web.Models.ViewModels.LoggedMitzvahViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Family Member")
            </th>
            <th>
                @Html.DisplayName("Mitzvah")
            </th>
            <th>
                @Html.DisplayName("Occured On")
            </th>
            <th>
                @Html.DisplayName("Points")
            </th>
            <th>
                @Html.DisplayName("Approved On")
            </th>
            <th>
                @Html.DisplayName("Approved By")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="loggedMitzvos">
        @if (Model.Any())
        {
            @Html.DisplayFor(model => Model)
        }
        else
        {
            <tr><td colspan="3">No Records to display.</td></tr>
        }
    </tbody>
</table>